{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block content -%}
{#     <h1>Business list</h1> #}


<div class="recent-jobs has-spotlight">
{#     <h3 class="homepage-widget-title">Recent Jobs</h3> #}

<div style="width: 900px; height: 50px;"></div>

            <div class="job_listings" data-categories="" data-keywords=""
            data-location="" data-order="DESC" data-orderby="featured" data-per_page=
            "5" data-show_filters="0">
                <ul class="job_listings">
                    <li class=
                    "post-1721 job_listing type-job_listing status-publish hentry job_listing job-type-full-time job_position_featured">
                    <a href="http://demo.astoundify.com/jobify/job/product-designer/">
                        <img alt="Logo" class="company_logo" src=
                        "./Jobify-ProjectList_files/drop-box.png"></a>

                        <div class="position">
                            <h3>Product Designer</h3>

                            <div class="company">
                                <strong>DropBox</strong> <span class="tagline">Simplify
                                Your Life</span>
                            </div>
                        </div>

                        <div class="location">
                            South of Market
                        </div>

                        <ul class="meta">
                            <li class="job-type full-time">Full Time</li>

                            <li class="date">Posted 7 months ago</li>
                        </ul>
                    </li>

                    <li class=
                    "post-8 job_listing type-job_listing status-publish hentry job_listing job-type-part-time job_position_featured">
                    <a href=
                    "http://demo.astoundify.com/jobify/job/design-technologist-shopping-innovation/">
                        <img alt="Logo" class="company_logo" src=
                        "./Jobify-ProjectList_files/full_amazon_logo_transparent.png"></a>

                        <div class="position">
                            <h3>Design Technologist</h3>

                            <div class="company">
                                <strong>Amazon</strong>
                            </div>
                        </div>

                        <div class="location">
                            Sunset District
                        </div>

                        <ul class="meta">
                            <li class="job-type part-time">Part Time</li>

                            <li class="date">Posted 9 months ago</li>
                        </ul>
                    </li>

                    <li class=
                    "post-1728 job_listing type-job_listing status-publish hentry job_listing job-type-part-time">
                    <a href="http://demo.astoundify.com/jobify/job/graphic-designer/">
                        <img alt="Logo" class="company_logo" src=
                        "./Jobify-ProjectList_files/foursquare-logo.jpg"></a>

                        <div class="position">
                            <h3>Graphic Designer</h3>

                            <div class="company">
                                <strong>Foursquare</strong> <span class=
                                "tagline">Unlock the city</span>
                            </div>
                        </div>

                        <div class="location">
                            Mission District
                        </div>

                        <ul class="meta">
                            <li class="job-type part-time">Part Time</li>

                            <li class="date">Posted 7 months ago</li>
                        </ul>
                    </li>

                    <li class=
                    "post-1726 job_listing type-job_listing status-publish hentry job_listing job-type-full-time">
                    <a href="http://demo.astoundify.com/jobify/job/senior-designer/">
                        <img alt="Logo" class="company_logo" src=
                        "./Jobify-ProjectList_files/disney-logo.jpg"></a>

                        <div class="position">
                            <h3>Senior Designer</h3>

                            <div class="company">
                                <strong>Disney Interactive</strong> <span class=
                                "tagline">Where the Magic Lives</span>
                            </div>
                        </div>

                        <div class="location">
                            East Palo Alto
                        </div>

                        <ul class="meta">
                            <li class="job-type full-time">Full Time</li>

                            <li class="date">Posted 7 months ago</li>
                        </ul>
                    </li>

                    <li class=
                    "post-7 job_listing type-job_listing status-publish hentry job_listing job-type-freelance">
                    <a href=
                    "http://demo.astoundify.com/jobify/job/front-end-engineer/"><img alt="Logo"
                        class="company_logo" src=
                        "./Jobify-ProjectList_files/full_NextBigSound_Logo_Color.png"></a>

                        <div class="position">
                            <h3>Front-End Engineer</h3>

                            <div class="company">
                                <strong>Next Big Sound</strong> <span class=
                                "tagline">Analytics and Insights for the Music
                                Industry</span>
                            </div>
                        </div>

                        <div class="location">
                            Standford
                        </div>

                        <ul class="meta">
                            <li class="job-type freelance">Freelance</li>

                            <li class="date">Posted 9 months ago</li>
                        </ul>
                    </li>
                </ul><a class="load_more_jobs" href=
                "http://demo.astoundify.com/jobify/#"><strong>Load more job
                listings</strong></a>
            </div>
        </div>



                <div class="job-spotlight">
                    {# <h3 class="homepage-widget-title">Job Spotlight</h3> #}

                    <div class="single-job-spotlight">
                        <div class="single-job-spotlight-feature-image">
                            <a href="http://demo.astoundify.com/jobify/job/product-designer/"
                            rel="bookmark">
                {#             <img alt="dropbox-featured" class=
                            "attachment-content-job-featured wp-post-image" height="175" src=
                            "./Jobify-ProjectList_files/dropbox-featured-450x175.jpg" width=
                            "450"> #}
                            </a>
                        </div>

                        <div class="single-job-spotlight-content">
                            <p><a href=
                            "http://demo.astoundify.com/jobify/job/product-designer/" rel=
                            "bookmark">Product Designer</a></p>

                            <p>The web is a giant place, and Dropbox is working to make the gap
                            between computers and the internet much</p>
                        </div>

                        <div class="single-job-spotlight-actions">
                            <div class="action">
                                <span class="job-location">South of Market</span>
                            </div>

                            <div class="action">
                                <span class="job-type full-time">Full Time</span>
                            </div>
                        </div>
                    </div>
                </div>



    <table class="table table-striped table-bordered dataTable" id="example" aria-describedby="example_info">
        <thead>
            <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending">Id</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending"
                >Name</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending"
                >Email</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending"
                >Password</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending"
                >Status</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 238px;" aria-label="Browser: activate to sort column ascending"
                >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('business_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('business_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('business_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('business_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
