{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}My Projects{% endblock %}

{% block body %}
<section class="section">
<div class="wrapper">
	<header class="content-theader">
		<h1 class="page-title">My Projects</h1>
		<a class="load_more_jobs btn" href="{{ path('project_new') }}">Add A New Project</a>	
	</header>
	{% if entities is not empty %}
	<div class="projects-list">
		{% for entity in entities %}
		<div class="project-item">
			<nav>
				{% if entity.status == 1 %}
                    <a class="btn small-btn" href="{{ path('project_proposals', { 'projectid': entity.id }) }}">View Applicants</a>
                {% else %}
                
                {% endif %}
                
                
                {# 
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                 #}
			</nav>
			 
		 	<h2><a href="{{ path('project_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></h2>
		 	<div>
		 		<span class="date">{% if entity.startdate %}{{ entity.startdate|date('Y-m-d') }}{% endif %}</span>
		 		<em class="separator">|</em>
		 		<a href="#" class="selected-consultant">{{ entity.status == 2? entity.userid.username:'' }}</a>
		 	</div>
		 	<div>
		 		<strong>Status:</strong>
		 		{% if entity.status == 1 %}
		 		 <span class="status live">
	                Live
	            {% elseif entity.status == 2 %}
	            <span class="status in-progress">
	                In Progress
	            {% else %}
	            <span class="status completed">
	                Completed
	            {% endif %}
			 	</span>
			    
                            {% if entity.status != 2 %}
                                <a class="edit-project" href="{{ path('project_edit', { 'id': entity.id }) }}">Edit Project</a>
                            {% endif %}
			 </div>
		 
		</div>
		{% endfor %}
	</div>
	
	 {% else %}
    <h3>You don't have any projects yet. Click the button above to add one.</h3>
    {% endif %}

{#         <ul>
        <li>
            <a href="{{ path('project_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
</div> 
    
 
   
</section>
    {% endblock %}
