{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%} Project details {% endblock %}

{% block content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Project Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Project Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ entity.startdate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ entity.deadline|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>${{ entity.budget }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button-medium" href="{{ path('project_proposal_new', { 'projectid': entity.id }) }}">
        Apply for this project
    </a>
    <ul class="record_actions">
        <li>
            <a href="{{ path('project') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
