{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%} Project details {% endblock %}

{% block body -%}
<section class="section">
	<div class="wrapper clearfix">
		<h1 class="project-title">{{ entity.title }}</h1>
		<div class="project-desc">
			<p>{{ entity.description }}</p>
		</div>
		<ul class="project-info">
			<li><strong>Posted on</strong> {{ entity.startdate|date('Y-m-d') }}</li>
			<li><strong>Nudget</strong> ${{ entity.budget }}</li>
			<li><strong>Deadline</strong> {{ entity.deadline|date('Y-m-d') }}</li>
		</ul>
		<a class="btn apply-project" href="{{ path('project_proposal_new', { 'projectid': entity.id }) }}">
	        Apply
	    </a>
	    
	    <div class="clear"></div>
	     <a href="{{ path('project') }}">
            Back to the list
        </a>
	</div>
</section>
{% endblock %}
