{% extends 'TGCAdminBundle::tablelayout.html.twig' %}

{% block title -%}Proposals (applications){% endblock %}

{% block body -%}

<section class="section">
	<div class="wrapper">
	{% if entities is not empty %}
		<div class="proposals-list">
			{% for entity in entities %}
				<div class="proposal-item">
					<div class="user-tn"></div>
					<div class="proposal-details">
						 <h2>{{ entity.userid }}</h2>
						 <div class="user-info">
						 	<span>Software Engineer</span>
						 	<em>|</em>
						 	<span>London</span>
						 	<em>|</em>
						 	<span>Emirates</span>
						 </div>
						 <strong class="budget">{{ entity.budget }} {{ entity.currency }}</strong>
						 <div class="proposal-text">
						 {% if entity.coverletter|length > 150 %}
	                        <p class="cover-letter-excerpt">
	                            {{ entity.coverletter|slice(0, 150) }}...
	                            <a href="#" class="show-full-letter">More info</a>
	                        </p>
	                        <p class="cover-letter-full">
	                            {{ entity.coverletter }}
	                        </p>
	                    {% else %}
	                        <p>{{ entity.coverletter }}</p>
	                    {% endif %}
	                    </div>
					</div>
					<div class="proposal-actions">
						<a href="{{ path('project_contract_new', { 'projectid': entity.projectid.id, 'consultant_userid': entity.userid.id }) }}" class="btn">Accept</a>
					</div>
				</div>
			{% endfor %}
		</div>
	   
	{% else %}
	
	<h3>There are no applications for this project yet.</h3>
	{#<h3>Click <a href="#">HERE</a> to search for consultants (by skill) and invite them to bid on your project.</h3>#}
	
	{% endif %}
	<ul class="record_actions">
	    <li>
	        <a href="{{ path('project') }}">
	            <- Go back to the list of my projects
	        </a>
	    </li>
	{#     <li>{{ form(delete_form) }}</li> #}
	</ul>
	</div>
</section>
{% endblock %}
