{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proposal list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Coverletter</th>
                <th>Hourlyrate</th>
                <th>Duration</th>
                <th>Registrationtimestamp</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proposal_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.coverletter }}</td>
                <td>{{ entity.hourlyrate }}</td>
                <td>{{ entity.duration }}</td>
                <td>{% if entity.registrationtimestamp %}{{ entity.registrationtimestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('proposal_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('proposal_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('proposal_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
