{% extends "TGCAdminBundle::base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1 class="page-title name">
            {% if 'ROLE_CLUB' in user.roles %}
                {{ user.clubName }}
            {% elseif 'ROLE_BUSINESS' in user.roles %}
                {{ user.businessName }}
            {% else %}
                {{ user.firstName }} {{ user.lastName }}
            {% endif %}
        </h1>
        <h2 class="page-subtitle">
            <ul>
                <li class="job-title">{{ user.degree }}</li>
                {% if 'ROLE_CLUB' not in user.roles %}
                    <li class="location"><i class="icon-location"></i> <span class="candidate-location">{{ user.location }}</span></li>
                {% endif %}
                <li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated on {{ user.updated|date('Y-m-d') }}</date></li>
            </ul>
        </h2>
    </div>

    <div id="content" class="site-content full" role="main">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

